<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" />
    <link rel="stylesheet" href="/bootstrap-wysiwyg/index.css" type="text/css" />
    <script src="/js/jquery.min.js"></script>
    <!--<script src="/javascripts/jquery.min.js"></script>-->
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
    <script src="/js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/js/insert.js"></script>
    <title>新建文章</title>
</head>
<body>

<div align="rigth">
    <!--<li><a href="/user/userhome" th:href="${user.username}"></a></li>-->
    <li><a href="/user/unlogin">注销</a></li>
</div>

<div class="blog-header">
    <h1 align="center">鲲鹏博客</h1>

    <p align="center">记录点点滴滴</p>
</div>

<div class="container">
    <div style="margin-top:50px" class="input-group input-group-lg"><span class="input-group-addon"></span><input
            type="text" placeholder="标题" name="title" class="form-control" id="title" /></div>
    <div style="margin-top:20px" class="input-group input-group-lg"><span class="input-group-addon"></span><input
            type="text" placeholder="描述" name="desc" class="form-control" id="desc" /></div>
    <div style="margin-top:20px" data-role="editor-toolbar" data-target="#editor" class="btn-toolbar">
        <div class="btn-group"><a data-toggle="dropdown" title="Font" class="btn dropdown-toggle"><i
                class="glyphicon glyphicon-font"></i><b class="caret"></b></a>
            <ul class="dropdown-menu"></ul>
        </div>
        <div class="btn-group"><a data-toggle="dropdown" title="Font Size" class="btn dropdown-toggle"><i
                class="glyphicon glyphicon-text-height"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
            </ul>
        </div>
        <div class="btn-group"><a data-edit="bold" title="Bold (Ctrl/Cmd+B)" class="btn"><i class="icon-bold"></i></a><a
                data-edit="italic" title="Italic (Ctrl/Cmd+I)" class="btn"><i class="icon-italic"></i></a><a
                data-edit="strikethrough" title="Strikethrough" class="btn"><i class="icon-strikethrough"></i></a><a
                data-edit="underline" title="Underline (Ctrl/Cmd+U)" class="btn"><i class="icon-underline"></i></a>
        </div>
        <div class="btn-group"><a data-edit="insertunorderedlist" title="Bullet list" class="btn"><i
                class="icon-list-ul"></i></a><a data-edit="insertorderedlist" title="Number list" class="btn"><i
                class="icon-list-ol"></i></a><a data-edit="outdent" title="Reduce indent (Shift+Tab)" class="btn"><i
                class="icon-indent-left"></i></a><a data-edit="indent" title="Indent (Tab)" class="btn"><i
                class="icon-indent-right"></i></a></div>
        <div class="btn-group"><a data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)" class="btn"><i
                class="icon-align-left"></i></a><a data-edit="justifycenter" title="Center (Ctrl/Cmd+E)" class="btn"><i
                class="icon-align-center"></i></a><a data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"
                                                     class="btn"><i class="icon-align-right"></i></a><a
                data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)" class="btn"><i class="icon-align-justify"></i></a>
        </div>
        <div class="btn-group"><a data-toggle="dropdown" title="Hyperlink" class="btn dropdown-toggle"><i
                class="icon-link"></i></a>

            <div class="dropdown-menu input-append"><input placeholder="URL" type="text" data-edit="createLink"
                                                           class="span2" />
                <button type="button" class="btn">Add</button>
            </div>
            <a data-edit="unlink" title="Remove Hyperlink" class="btn"><i class="icon-cut"></i></a></div>
        <div class="btn-group"><a id="pictureBtn" title="Insert picture (or just drag &amp; drop)" class="btn"><i
                class="icon-picture"></i></a><input type="file" data-role="magic-overlay" data-target="#pictureBtn"
                                                    data-edit="insertImage" />

            <div class="btn-group"><a data-edit="undo" title="Undo (Ctrl/Cmd+Z)" class="btn"><i
                    class="icon-undo"></i></a><a data-edit="redo" title="Redo (Ctrl/Cmd+Y)" class="btn"><i
                    class="icon-repeat"></i></a></div>
            <input id="voiceBtn" type="text" data-edit="inserttext" x-webkit-speech="" /></div>
    </div>
    <div id="editor"></div>

    <input id="bt1" type="button" value="预览" />
    <input id="bt2" type="button" value="保存" />
    <!--<button value="预览" id="bt1"></button>-->
    <!--<button value="保存" id="bt2"></button>-->

</div>




<!--//        && prettyPrint();-->
<!--//        window.prettyPrint();-->

</body>
</html>